<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: green;
  position: fixed;
  top: 0;
  width: 100%;
  
  

}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  border: 2px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:green;
  color: green;
}


</style>
</head>

<div class="topnav">
       <% if user_signed_in? %>

  <a class="active">
  <%= link_to 'דף הבית לא עובד', home_dashboard_path, class: "nav-link" %>
	</a>


  <a class="active">
  <%= link_to 'דשבורד', home_dashboard_path, class: "nav-link" %>
	</a>
  
  <a class="active">
       <%= link_to 'עריכת פרופיל', edit_user_registration_path, class: "nav-link" %>
       </a>



  <a class="active">
      <%= link_to "להתנתק ", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </a>




        <%else%>

  <a class="active">
        <%= link_to "להתחבר ", new_user_session_path %>
        </a>
  
  <a class="active">
        <%= link_to "להרשם ", new_user_registration_path %>
        </a>
        <%end%>

</div>

 <body>
</body>
</html>
