<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> תקלה</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :product_user_id, class:"form-control",value: current_user.id, type: :hidden %>
  </div>




  <div class="field">
    <%= form.label :כותרת %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :קטגוריה %>
    <%= form.text_field :category %>
  </div>


  <div class="field">
  <%= form.label :תמונות %>
  <%= form.file_field :images, multiple: true, direct_upload: true %>
</div>



  <div class="field">
    <%= form.label :תיאור %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :מחיר %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit "העלה מוצר" %>
  </div>
<% end %>


