<h1>עריכת מוצר</h1>


<% if @product.images.attached? %>
<div class="d-flex justify-content-center container mt-5">
    <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2">
        <% @product.images.each do |image| %>
    <%= image_tag(image, :size => "260x180", :crop => :fill) %>
  <% end %>
 </p>
<% end %>
  </a>
              <div>
                  <h1><%= @product.title %></h1>
                  <h2><%= @product.category %></h2>
                  <h3><%= @product.description %></h3>
                  <h4><%= @product.price %> :מחיר</h4>
                  </div>
        <div>
          <%= link_to 'ערוך ', edit_product_path(@product) %>
          <%= link_to 'מחק ', @product, method: :delete, data: { confirm: '?בטוח' } %>
        </div>
        


<%= render 'form', product: @product %>

<%= link_to 'חזור', products_path %>

