
<table>
<h1>המוצרים שלי</h1>  
<h1>המוצרים שלי</h1>  

  <thead>
    <tr>
      <th>כותרת</th>
      <th>קטגוריה</th>
      <th>תיאור</th>
      <th>מחיר</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <%if product.user == current_user %>

        <td><%= product.title %></td>
        <td><%= product.category %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td> 
        <td><%= link_to 'צפה במוצר', product %></td>
        <td><%= link_to 'שנה את המוצר', edit_product_path(product) %></td>
        <td><%= link_to 'מחק את המוצר', product, method: :delete, data: { confirm: '?בטוח' } %></td>
        
        <% end %>

        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'חזור', home_dashboard_path %>

</div>


