
<h1>המוצרים שלי</h1>  
<h1>כל המוצרים</h1>  


<table>

    <% @products.each do |product| %>
<div class="gallery">
              <div>
                  <h1><%= product.title %></h1>
                  <h2><%= product.category %></h2>
                  <h3><%= product.description %></h3>
                  <h4><%= product.price %> :מחיר</h4>
                  </div>
        <div>
          <%= link_to 'צפה במוצר', product %>
                <%if product.user == current_user %>

          <%= link_to 'ערוך', edit_product_path(product) %>
          <%= link_to 'מחק', product, method: :delete, data: { confirm: '?בטוח' } %>

    <%end%>
          <%end%>

