
<table>
<h1>המוצרים שלי</h1>  
<h1>כל המוצרים</h1>  



  <tbody>
    <% @products.each do |product| %>
      <tr>
      <%if product.user == current_user %>
      <div class="d-flex justify-content-center container mt-5">
      <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
          <div class="about-product text-center mt-2"><img src="https://i.imgur.com/3VTaSeb.png" width="300">
              <div>
                  <h1><%= product.title %></h1>
                  <h2><%= product.category %></h2>
                  <h3><%= product.description %></h3>
                  <h4><%= product.price %> :מחיר</h4>
        <h5>
          <%= link_to 'צפה במוצר', product %>
          <%= link_to 'שנה את המוצר', edit_product_path(product) %>
          <%= link_to 'מחק את המוצר', product, method: :delete, data: { confirm: '?בטוח' } %>
        </h5>
          <div>
         

          <%else%>

          <div class="d-flex justify-content-center container mt-5">
          <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
              <div class="about-product text-center mt-2"><img src="https://i.imgur.com/3VTaSeb.png" width="300">
                  <div>
                      <h1><%= product.title %></h1>
                      <h2><%= product.category %></h2>
                      <h3><%= product.description %></h3>
                      <h4><%= product.price %> :מחיר</h4>
            <h5>
              <%= link_to 'צפה במוצר', product %>
            </h5>
            </table>
    
          <%end%>
          <%end%>
